.mySwiper {
  width: 100%;
  max-height: 510px;
  /* height: auto; */
  margin-top: 40px;
  border-radius: 5px;
  z-index: -5 !important;
}


img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
