.aboutUsContainer {
  position: relative;
  width: 90%;
  height: 700px;
  margin: 30px auto;
  border-radius: 12px;
  overflow: hidden;
}

.aboutBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  color: white;
  text-align: left;
  width: 60%;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'tkt';
}

.lineSvg {
  margin-right: 20px;
}

.textContainer h1 {
  font-size: 60px;
}

.textContainer p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: 'tkt';
}

.buttons {
  display: flex;
  gap: 20px;
  font-family: 'tkt';
}

.seeProducts, .contactUs {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seeProducts {
  background-color: white;
  color: black;
}

.contactUs {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
