.product-details {
  display: flex;
  flex-direction: column; /* Stack items vertically on smaller screens */
  padding: 20px;
  /* background-color: #f9f9f9; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.product-details img {
  width: 100%; /* Make image responsive */
  height: auto;
  /* max-height: 300px; */
  border-radius: 10px;
  margin-bottom: 20px; /* Space between image and text */
}

.product-details .details-container {
  flex: 1; /* Take remaining space */
}

.product-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.product-details .price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.product-details .product_name {
  font-size: 20px;
  font-weight: 600;
}

.product-details .stat1,
.product-details .stat2 {
  font-size: 18px;
  color: #555;
}

.product-details .description {
  font-size: 16px;
  color: #666;
  margin: 15px 0;
}

.product-details .brand,
.product-details .weight,
.product-details .dimensions,
.product-details .availability,
.product-details .warranty,
.product-details .manufacturer {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.product-details .features {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}

.product-details .features ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #666;
}

.product-details .features ul li {
  margin: 5px 0;
}

.product-details .reviews {
  width: 100%;
  margin-top: 20px;
}

.product-details .reviews h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.product-details .reviews .review {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.product-details .reviews .review p {
  margin: 5px 0;
}

.product-details .reviews .review p strong {
  font-weight: 600;
  color: #333;
}

@media screen and (min-width: 768px) {
  .product-details {
    max-width: 1440px !important;
    width: 90% !important;
    flex-direction: row; /* Display items in a row on larger screens */
  }
  
  .product-details img {
    max-height: 450px;
    width: 450px; /* Fixed width for the image */
    margin-right: 20px; /* Margin between image and text */
  }
}


@media screen and (max-width: 1300px) {
  .images-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .thumbnail-images{
    flex-direction: row !important;
  }
}

@media screen and (max-width: 1024px) {
  .product-details img {
    max-height: 300px;
    width: 300px; /* Fixed width for the image */
    margin-right: 20px; /* Margin between image and text */
  }

  .thumbnail-images img {
    width: 120px !important;
    height: 120px !important;
    margin-bottom: 5px;
    cursor: pointer;
  }
}


.similar-products {
  margin: 20px;
}

.similar-products h2 {
  text-align: left;
  font-family: tkt;
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

.similar-products-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.similar-product {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

.similar-product img {
  max-width: 100%;
  height: auto;
}

.similar-product .price {
  font-weight: bold;
}

.similar-product .product_name {
  font-size: 18px;
  margin: 10px 0;
}

.similar-product .availability,
.similar-product .warranty,
.similar-product .manufacturer {
  font-size: 14px;
  margin-bottom: 5px;
}






.images-container {
  display: flex;
  align-items: center;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.thumbnail-images img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-image {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




.images-container {
  display: flex;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.thumbnail-images img {
  width: 187px;
  height: 141px;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-image {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .product-details img {
    max-height: 450px;
    width: 450px; /* Fixed width for the image */
    margin-right: 20px; /* Margin between image and text */
  }

  .thumbnail-images img {
    width: 80px !important;
    height: 80px !important;
    margin-bottom: 5px;
    cursor: pointer;
  }
}