.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(112,112,112,.2);
  width: 278px;

  /* height: 438px; */
  /* background-color: #ff0000; */
  border-radius: 0.5rem;
 

}

.img_wrapper{
  width: 100%;
  /* height: 250px; */
  height: 300px;
  padding: 10px;
  /* background-color: #d4d4d4; */
 
  /* background-color: green; */
}

.img_container{
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

.img_container img{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}


.content{
  /* height: 188px; */
  /* background-color: purple; */
  /* background-color: green; */
  width: 95%;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.price{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  color: #2C4F9E;
}

.product_name{
  margin-top: 5px;
  position: relative;
}

.product_name::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 95%;
  background-color: rgba(112, 112, 112, 0.137);
  height: 2px;
}


.stat1{
  font-size: 16px;
  font-weight: 200;
  margin-top: 17px;
}

.stat2{
  font-size: 16px;
  font-weight: 200;

}

.add_to_cart{
  background-color: #2C4F9E;
  width: 100%;
  min-height: 49.7px !important;
  height: 100% !important;
  color: white;
  font-family: "tkt";
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 350px; /* Default max-width */
}

.img_wrapper {
  width: 100%;
  /* height: 194px;  */
  padding: 10px;
  background-color: #ffffff;
}

.img_wrapper{
  min-height: 200px !important;
}

.content {
  padding: 8px 10px 20px;
}

.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1268f1;
}

.product_name {
  margin-top: 5px;
  position: relative;
}

.product_name::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 95%;
  background-color: rgba(112, 112, 112, 0.137);
  height: 2px;
}

.stat1, .stat2 {
  font-size: 16px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.594);
}

.add_to_cart {
  background-color: #2C4F9E;
  width: 100%;
  min-height: 28px; /* Default height */
  color: white;
}

.card a{
  min-height: 50px !important;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .card {
    max-width: 350px;
  }

  .img_wrapper {
    height: 215.7px;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    max-width: 340px;
  }

  .img_wrapper {
    /* height: 215.7px; */
    height: 250px;
    border-radius: 10px;
  }

  .img_wrapper img{
    height: 100%;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    max-width: 288px;
  }

  /* .img_wrapper {
    height: 281.1px;
  } */

  .add_to_cart {
    height: 40.4px;
  }
}

