.partners-section {
  text-align: center;
  padding: 40px 0;
}

.partners-title {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
  font-family: "tkt";
}

.partners-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.partner-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgb(209, 209, 209);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.partner-slide:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.partner-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .partners-container {
    padding: 10px 0;
  }

  .partner-slide {
    padding: 10px;
    margin: 0px;
    border: 1px solid rgb(209, 209, 209);
  }

  .partner-logo {
    width: 60px;
    height: 60px;
  }
}
