.product_section{
  margin-top: 60px;
}


.section_title{
  font-family: "tkt-medium";
  font-size: 25px;
}

.products_slider{
  width: 100%;
  height: auto;
}

.controller_wrapper{
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: space-between;
}

.swiper-nav-buttons{
  display: flex;
  gap: 10px;
}

.slider_button{
  border: 1px solid #00337a;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}