@font-face {
  font-family: "tkt";
  src: url("/public/Fonts/TKT-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "tkt-medium";
  src: url("/public/Fonts/TKT-MEDIUM.TTF") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("/public/Fonts/HelveticaNeue-Medium.ttf") format("truetype");
}

/* .swiper {
  width: 80%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
} */

.spacing{
  padding-inline: 6.25vw;
}

.swiper-button-prev{
  display: none !important;
}

.swiper-button-next{
  display: none !important;
}